@font-face
  font-family: lato_bold_italic
  src: url(./fonts/Lato/Lato-BoldItalic.ttf)


// declare a class which applies it
.lato-bold-italic
  font-family: 'lato_bold_italic'

.router-link
  text-decoration: none
  color: black

.form-image
  width: 10%
  height: 10%
  margin-top: 10%
  margin-bottom: -10%

.bottom-border
  border-bottom: 1px solid #ccc
